/* style.css for supreme-team-project-2 */

#main {
        color: #001f3f;
        border: solid #001f3f 2px;
        border-radius: 3px;
    }

footer a{
    text-align: center;
    color: #347235;
    }

#map, body, html{width: 100%; height: 98.9%;}

p.main {
    text-align: left;
    }


#summary_text {
    margin-left: 0;
    margin-right: 0;
    float: left;
}

#static {
    display: inline;
    border: solid  #5d6d7e  2px;
    margin-left: 2px;
    margin-right: 0;
    }
    

footer {
    text-align: center;
}

li {
    font-size: 82%;
    }